<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
 
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.114.32.15:3306/MusicArch</property>
        <property name="hibernate.connection.username">olso</property>
        <property name="hibernate.connection.password">olso</property>

        <property name="show_sql">true</property>
 
        <!-- Specifying Session Context -->
        <!--  <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property-->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
 
        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="com.jcg.hibernate.maven.Genre" />
        <mapping class="com.jcg.hibernate.maven.Artist" />
        <mapping class="com.jcg.hibernate.maven.Album" />
        <mapping class="com.jcg.hibernate.maven.Song" />
    </session-factory>

</hibernate-configuration>