
/*Elementeistä on tehty ryhmiä, joita voidaan muokata täällä. */
/*Uudet elementtiryhmät voidaan luoda SB:ssä */
/*Osalla eri Stagejen elementtiryhmistä voi olla sama ID sillä 
 * niitä voi paremmin ohjata yhdessä näin
 */
 
 
/*Päänäkymän elementtejä */
#root {
-fx-background-color: #404040;
-fx-font-size: 17.5px;
-fx-text-fill: #ffff33;
-fx-accent: red;

}
#Buttonbarbuttons {
-fx-text-fill: orange;
}

/*Lisäyssivusta löytyviä elementtejä */
#RequestDrops {
-fx-body-color: #404040;
-fx-font-size: 17.5px;
-fx-text-fill: #ffff33;
}
/*Albumilomakkeen txtfieldien lisäysnapit */
#PlusButtons {
	
}
/* Kaikki tekstikentät */
#TxtFields {
-fx-font-size: 17.5px;
}

/* Kaikki lähetysnapit */
#Send {
	
}

#root2 {
-fx-font-size: 17.5px;
-fx-text-fill: #ffff33;
}

Text {
-fx-font-size: 17.5px;
-fx-text-fill: orange;
}

#labels {
-fx-font-size: 14px;
}