
/*Elementeistä on tehty ryhmiä, joita voidaan muokata täällä. */
/*Uudet elementtiryhmät voidaan luoda SB:ssä */
/*Osalla eri Stagejen elementtiryhmistä voi olla sama ID sillä 
 * niitä voi paremmin ohjata yhdessä näin
 */
 
 
/*Päänäkymän elementtejä */
#root {
-fx-background-color: #404040;
-fx-text-fill: #ffff33;
-fx-accent: red;

}
#Buttonbarbuttons {
-fx-text-fill: orange;
}

/*Lisäyssivusta löytyviä elementtejä */
#RequestDrops {
-fx-body-color: #404040;
-fx-text-fill: #ffff33;
}
/*Albumilomakkeen txtfieldien lisäysnapit */
#PlusButtons {
	
}
/* Kaikki tekstikentät */
#TxtFields {
}

/* Kaikki lähetysnapit */
#Send {
	
}

/* */
#root2 {
-fx-text-fill: #ffff33;
}

Text {
-fx-text-fill: orange;
}

#labels {
<<<<<<< HEAD
=======
-fx-font-size: 16px;
}

#listView {
	-fx-font-size: 1.5em;
>>>>>>> branch 'master' of https://gitlab.metropolia.fi/janiap/MusicArch.git
}