
/*Elementeistä on tehty ryhmiä, joita voidaan muokata täällä. */
/*Uudet elementtiryhmät voidaan luoda SB:ssä */
/*Osalla eri Stagejen elementtiryhmistä voi olla sama ID sillä 
 * niitä voi paremmin ohjata yhdessä näin
 */
 
 
/*Päänäkymän elementtejä */
#root {
-fx-background-color: #404040;
-fx-text-fill: orange;
-fx-accent: red;

-fx-focus-color: yellow;
-fx-faint-focus-color: yellow;

}

.tab-pane{
	
}
.root {
-fx-accent: orange;
-fx-focus-color: orange;

}
#Buttonbarbuttons {
-fx-text-fill: orange;
-fx-faint-focus-color: yellow;
-fx-focus-color:orange;

}
#Buttonbarbuttons:focused {
-fx-faint-focus-color: yellow;
-fx-focus-color:orange; 
}
/*Lisäyssivusta löytyviä elementtejä */
#RequestDrops {
-fx-background-color: #404040;
-fx-text-fill: #ffff33;
}
/*Albumilomakkeen txtfieldien lisäysnapit */
#PlusButtons {
	
}


/* Kaikki lähetysnapit */
#Send {
	
}

.text-area {
-fx-border-color: #404040;
-fx-border-radius:1%;

	
}
/* Kaikki tekstikentät */
.text-field {
-fx-border-color: #404040;
-fx-border-radius:1%;

}
.text-field:focused {
	-fx-focus-color: orange;
-fx-faint-focus-color: yellow;
}
.text-area:focused {
	-fx-focus-color: orange;
-fx-faint-focus-color: yellow;
}
.label {
	
}
.button {
-fx-text-fill: orange;
-fx-background-color: #404040;
-fx-border-radius:5%;	

}
.button:focused {
-fx-faint-focus-color: orange;
-fx-focus-color: orange;
-fx-border-color: -fx-faint-focus-color; 

}
.scroll-pane.decrement-button {
	-fx-background-color: transparent;
}

/* */
#root2 {
-fx-text-fill: orange;
-fx-body-color: #404040;

}

Text {
-fx-text-fill: orange;
}

#labels {

}
#listView {
-fx-font-size: 1.5em;

}
#scroll{
	-fx-border-color: #404040;
	-fx-background-color: white;
}
/* */
